body {
  background-image: url(../assets/background-blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

/* Splash Screen */

.intro {
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  background-color: #0f264f;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.listStyle {
  margin-left: -15px;
  list-style-type: square;
}

td:nth-of-type(1) {
  padding-right: 10px;
} 

.image-box {
  height: 250px;
  width: 250px;
  transition: all 0.7s ease;
  display: grid;
  place-items: center;
}

.image-box:hover {
  transform: scale(1.2);
}
